*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins, sans-serif';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: repeating-linear-gradient(135deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), repeating-linear-gradient(22.5deg, rgb(0, 0, 0) 0px, rgb(0, 0, 0) 10px, transparent 10px, transparent 11px), linear-gradient(90deg, hsl(194, 74%, 56%), hsl(266, 74%, 56%), hsl(338, 74%, 56%), hsl(50, 74%, 56%), hsl(122, 74%, 56%));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section {
  position: relative;
  max-width: 400px;
  background-color: transparent;
  border: 2px solid #b0b0b0;
  border-radius: 20px;
  backdrop-filter: blur(55px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3rem;
}

h1 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  max-width: 310px;
  border-bottom: 2px solid #fff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-10px);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}

.inputbox input {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #fff;
}

.inputbox-ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2rem;
  top: 20px;
}

.forget {
  margin: 35px 0;
  font-size: 0.85rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.forget label {
  display: flex;
  align-items: center;
}

.title-register {
  font-size: 70px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  color: rgb(23, 23, 23);
  padding-bottom: 10px;
}

.forget label input {
  margin-right: 3px;
}

.forget a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.forget a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 48px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transform: all 0.4s ease;
}

button:hover {
  box-shadow: 10px 8px 5px #141414;
  transition: 0.5s ease-in-out;
}

.register {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register p a {
  text-decoration: none;
  color: #eb0808;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

.icon-navbar {
  color: #141414;
  background-color: #141414;
  border-bottom: 2px solid #fff;
}

/* Media query for smaller screens */
@media (max-width: 368px) {
  .inputbox {
    max-width: 80%;
    margin: 20px 0;
  }

  .inputbox input {
    height: 50px; /* Reduce height if needed */
    padding: 0 20px; /* Adjust padding for smaller screens */
  }

  section {
    padding: 1.5rem 2rem;
  }

  button {
    height: 35px; /* Reduce button height for smaller screens */
  }

  .title-register {
    font-size: 50px; /* Reduce title font size for smaller screens */
  }
}
